[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = tab
tab_width = 4

# this. and Me. preferences
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity = silent

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = silent
